#Big Data Management
Databricks + Spark  
Garth Mortensen  
2020.03.06

Render markdown with [%md](https://forums.databricks.com/answers/9506/view.html)

## Tasks

2. Filter out header rows
3. Provide an output that has employee count by department ID
4. Provide an output that has the top two department names with the most employee ID.

## Execution

### Read files as RDDs

We want to read the files in as RDDs. 

First, I upload the two files to Databricks cluster, then use shell to see if the files are in the right place.

In [2]:
%sh
cd /dbfs/FileStore/tables
ls -la

Because I have read permission, I don't need to change permissions.

```sh
%sh
cd /dbfs/FileStore/tables
ls -la
```

Good. The files are ready. Now time to figure out how to read them. Of note, I'm importing these without headers.

### Read File

#### Pandas DataFrame

In [5]:
# the pandas solution
import pandas as pd

dept_pd_df = pd.read_csv("/dbfs/FileStore/tables/Dept.csv", header=0)

emp_pd_df = pd.read_csv("/dbfs/FileStore/tables/Employee.csv", header=0)
emp_pd_df[0:5]  # print first 5 rows

,empno,ename,job,mgr,hiredate,sal,comm,deptno
0,7369,SMITH,CLERK,7902.0,6/13/1993,800,0.0,20
1,7499,ALLEN,SALESMAN,7698.0,8/15/1998,1600,300.0,30
2,7521,WARD,SALESMAN,7698.0,3/26/1996,1250,500.0,30
3,7566,JONES,MANAGER,7839.0,10/31/1995,2975,NaN,20
4,7698,BLAKE,MANAGER,7839.0,6/11/1992,2850,NaN,30

### Spark DataFrame

In [7]:
# the spark solution

# Define path and read csv without headers
file_emp = "/FileStore/tables/Employee.csv"
emp_df = spark.read.csv(file_emp, header="true", inferSchema="true")

file_dept = "/FileStore/tables/Dept.csv"
dept_df = spark.read.csv(file_dept, header="true", inferSchema="true")
dept_df.take(3)

So I can import as pandas df or as spark df. Why would I choose one over the other? 

I'm guessing that because pandas doesn't distribute info out and in to the cluster. I bet only spark does that.

### Spark Textfile

In [10]:
employee_txt = sc.textFile("/FileStore/tables/Employee.csv")
employee_txt.take(5)

In [11]:
dept_txt = sc.textFile("/FileStore/tables/Dept.csv")
dept_txt.take(5)

#### Spark Remove Headers

In [13]:
header = employee_txt.first()  # pull first row
employee_txt = employee_txt.filter(lambda row: row != header)
employee_txt.take(5)

In [14]:
header = dept_txt.first()
dept_txt = dept_txt.filter(lambda row: row != header)
dept_txt.take(5)

### Group By Setup

Find employee count by department ID. 

This could be either a:
1. [RDD Action](https://spark.apache.org/docs/latest/rdd-programming-guide.html#actions), which runs a computation on the dataset, then returns the value to the driver program.
2. [RDD Transformation](https://spark.apache.org/docs/latest/rdd-programming-guide.html#transformations), which creates a new dataset from an existing one.

reduceByKey (func, [numPartitions]) - When called on a dataset of (K, V) pairs, returns a dataset of (K, V) pairs where the values for each key are aggregated using the given reduce function func, which must be of type (V,V) => V. Like in groupByKey, the number of reduce tasks is configurable through an optional second argument.

In [16]:
%sql
-- the sql solution
-- select count(*)
-- from emp_df
-- group by deptno

#### Pandas DataFrame

In [18]:
# the pandas solution
emp_pd_df.groupby("deptno")["empno"].count()

Let's first preview our data.

#### Spark DataFrame

In [21]:
# the spark solution
emp_df.printSchema()

In [22]:
emp_df.show()

In [23]:
emp_df.describe().show()

Now, I'll perform the Group By, and display the **top two** department names with the most employee IDs.

#### Pandas DataFrame

Do it in pandas.

In [25]:
# the pandas solution
joined = pd.merge(emp_pd_df, dept_pd_df, on='deptno', sort='deptno')
joined

,empno,ename,job,mgr,hiredate,sal,comm,deptno,dname,location
0,7782,CLARK,MANAGER,7839.0,5/14/1993,2450,NaN,10,Accounting,New York
1,7839,KING,PRESIDENT,NaN,6/9/1990,5000,0.0,10,Accounting,New York
2,7934,MILLER,CLERK,7782.0,1/21/2000,1300,NaN,10,Accounting,New York
3,7369,SMITH,CLERK,7902.0,6/13/1993,800,0.0,20,Research,Dallas
4,7566,JONES,MANAGER,7839.0,10/31/1995,2975,NaN,20,Research,Dallas
5,7788,SCOTT,ANALYST,7566.0,3/5/1996,3000,NaN,20,Research,Dallas
6,7876,ADAMS,CLERK,7788.0,6/4/1999,1100,NaN,20,Research,Dallas
7,7902,FORD,ANALYST,7566.0,12/5/1997,3000,NaN,20,Research,Dallas
8,7499,ALLEN,SALESMAN,7698.0,8/15/1998,1600,300.0,30,Sales,Chicago
9,7521,WARD,SALESMAN,7698.0,3/26/1996,1250,500.0,30,Sales,Chicago
10,7698,BLAKE,MANAGER,7839.0,6/11/1992,2850,NaN,30,Sales,Chicago
11,7844,TURNER,SALESMAN,7698.0,6/4/1995,1500,0.0,30,Sales,Chicago
12,7900,JAMES,CLERK,7698.0,6/23/2000,950,NaN,30,Sales,Chicago
13,7654,MARTIN,SALESMAN,7698.0,12/5/1998,1250,1400.0,30,Sales,Chicago

In [26]:
joined2 = joined.groupby("dname")["empno"].count().to_frame()  # group by, and convert output series back to df
joined2.sort_values('empno', ascending=False)  # it's not perfect, but good enough. I want to see Sales and Research at the end

,empno
dname,
Sales,6
Research,5
Accounting,3

#### Spark DataFrame

In [28]:
emp_df.groupBy("deptno").count().show()

This doesn't capture the department name. I'll need to join for that. No fancy footwork needed on the join. An inner will do the job, since there won't be anyone in the employees table without a department, we don't care about left joining.

In [30]:
df_joined = emp_df.join(dept_df, on='deptno', how='inner')  # inner is default.
df_joined.show()

In [31]:
df_joined2 = df_joined.groupBy("dname").count()
df_joined2.show()  # .show() on a variable assignment results in Type: None. Need to break it into 2 parts.

In [32]:
df_joined2.orderBy('count', ascending=False).show(2)  # show only top 2 records

# alternative
# df_joined2.sort('count').show()

And one last curiosity was to check the filesystem for the temp tables I've created. After hunting around for a few minutes, I couldn't locate any.

In [34]:
%sh

cd /dbfs/
ls -la

#### Spark RDD

In [37]:
emp1 = employee_txt.map(lambda x: x.split(','))
emp2 = emp1.map(lambda x: (x[7],1))
emp3 = emp2.reduceByKey(lambda x, y: x + y)
emp3.take(5)  # this is not working.

In [38]:
join_rdd = employee_txt.leftOuterJoin(dept_txt)
join_rdd.take(5)  # no good!